$theme-colors: (
    "danger": rgb(218, 63, 36),
    "success": teal,
    'primary': rgb(46, 130, 186)
);

@import "~bootstrap/scss/bootstrap";

body {
  background: url(nice-christmas-background-white-background-with-copy-space.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.container {
  background-color: white;
  padding: 20px;
}